<main>
  <div class="w-full drop-shadow-lg">
    <h1 class="text-xl font-extrabold">
      <a routerLink="/" class="inline-block translate-y-6">
        <span class="text-lg mr-2" aria-hidden="true" aria-label="">
          <img
            src="/assets/images/arrow-back-sharp.svg"
            alt="edit-button"
            class="h-auto w-5 mr-2"
          />
        </span> </a
      >Customer Information
    </h1>
    <div
      class="w-full mt-7 bg-white border-slate-500 rounded-md p-5 lg:px-16 lg:py-5"
    >
      <div
        class="container-name flex flex-col lg:flex-row justify-between items-start lg:items-center text-slate-800"
      >
        <p class="font-bold text-base mt-2 lg:mt-0">
          <span class="block text-xs text-slate-500">First Name</span>
          {{ user ? user.name.split(" ")[0] : "No name available" }}
        </p>

        <p class="font-bold text-base mt-2 lg:mt-0">
          <span class="block text-xs text-slate-500">Email Address</span>
          {{ user ? user.email : "No email available" }}
        </p>

        <p class="font-bold text-base mt-2 lg:mt-0">
          <span class="block text-xs text-slate-500">Contact Number</span>
          {{ user ? (user.contact | formatNumber) : "No contact available" }}
        </p>
      </div>
    </div>
  </div>
</main>
